In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Eureka,US,2022-03-03 20:56:43,40.8021,-124.1637,58.68,83,100,11.01
1,1,Havelock,US,2022-03-03 20:56:44,34.8791,-76.9013,75.96,47,20,13.00
2,2,Iqaluit,CA,2022-03-03 20:56:44,63.7506,-68.5145,-2.31,77,100,2.30
3,3,Ushuaia,AR,2022-03-03 20:54:54,-54.8000,-68.3000,56.86,54,40,6.91
4,4,Jinka,ET,2022-03-03 20:56:45,5.6500,36.6500,73.29,32,66,0.63
5,5,Punta Arenas,CL,2022-03-03 20:55:52,-53.1500,-70.9167,55.51,47,75,23.02
6,6,Upernavik,GL,2022-03-03 20:56:46,72.7868,-56.1549,8.49,89,100,15.21
7,7,Penzance,GB,2022-03-03 20:56:46,50.1186,-5.5371,45.77,75,100,14.74
8,8,Sirjan,IR,2022-03-03 20:56:47,29.4520,55.6814,56.75,38,86,10.02
9,9,Busselton,AU,2022-03-03 20:56:47,-33.6500,115.3333,52.05,90,1,8.14

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# %matplotlib inline


# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Havelock,US,2022-03-03 20:56:44,34.8791,-76.9013,75.96,47,20,13.00
14,14,Takoradi,GH,2022-03-03 20:56:49,4.8845,-1.7554,80.04,84,61,10.40
15,15,Vaini,TO,2022-03-03 20:56:49,-21.2000,-175.2000,77.16,100,40,12.66
19,19,Rikitea,PF,2022-03-03 20:56:47,-23.1203,-134.9692,80.04,74,0,19.28
21,21,Puerto Ayora,EC,2022-03-03 20:56:51,-0.7393,-90.3518,82.36,73,52,8.63
22,22,Acapulco,MX,2022-03-03 20:53:37,16.8634,-99.8901,85.32,53,0,11.21
23,23,Pipri,IN,2022-03-03 20:56:52,19.8000,75.5333,76.77,29,19,7.90
24,24,Shelbyville,US,2022-03-03 20:52:45,35.4834,-86.4603,78.40,27,0,5.75
28,28,Viedma,AR,2022-03-03 20:56:53,-40.8135,-62.9967,84.49,27,95,17.81
29,29,Puerto Madryn,AR,2022-03-03 20:56:54,-42.7692,-65.0385,87.12,21,62,15.26

In [17]:
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1        Havelock      US     75.96  34.8791  -76.9013
14       Takoradi      GH     80.04   4.8845   -1.7554
15          Vaini      TO     77.16 -21.2000 -175.2000
19        Rikitea      PF     80.04 -23.1203 -134.9692
21   Puerto Ayora      EC     82.36  -0.7393  -90.3518
22       Acapulco      MX     85.32  16.8634  -99.8901
23          Pipri      IN     76.77  19.8000   75.5333
24    Shelbyville      US     78.40  35.4834  -86.4603
28         Viedma      AR     84.49 -40.8135  -62.9967
29  Puerto Madryn      AR     87.12 -42.7692  -65.0385

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
  # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Havelock,US,75.96,34.8791,-76.9013,Sherwood Motel
14,Takoradi,GH,80.04,4.8845,-1.7554,Raybow International Hotel
15,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
19,Rikitea,PF,80.04,-23.1203,-134.9692,People ThankYou
21,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [28]:

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))